{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/app.css"/>
{% endblock %}

{% block body %}

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ asset('assets/greceantique_caroussel.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h2>Jason et la toison d'or</h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ asset('assets/navire_caroussel.PNG') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h2>Jason et la toison d'or</h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ asset('assets/expedition_caroussel.png') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h2>Jason et la toison d'or</h2>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

     <div class="container pt-5">
        <div class="row">
            <div class="col text-center mt-5">
                <img class="carte-img" src="{{ asset('assets/carte.jpg') }}" alt="carte"> 
            </div>
            <div class="col align-items-center ">
                <h1 class="text-center">Jason en route pour la toison d'or</h1>
                <p>Le jour est enfin venu pour Jason de venger son père et de récupérer le trône de Iolcos. Sa mission, aller récupérer la toison d’or située à plus de 1300 kilomètres, en Colchide.
                    Pour rejoindre Colchide, Jason doit naviguer sur la mer noir. Il a fait construire un puissant navire pour l’expédition, l’Argo. Il lui reste maintenant à trouver ses 50 équipiers.
                </p>
            </div>
          </div>    
     </div> 
      
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
{% endblock %}


